/* defining variables for color */
:root{
    --thebuttoncolor:#4c5fd5;
    --thewihtecolor:#ffff;
    --theblackcolor:#000;
    --thecolor: #dadbf1;
}
/* body */
body{
    padding: 0;
    margin: 0;
}
/* header  */
.header{
    background-color:var(--theblackcolor);  
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.icon-h{
    width: 15px;
    height: 15px;
}
.tozih-h{
    color:var(--thewihtecolor);
}
.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1080px;
}
button{
    margin-right:10px ;
    border-radius: 4px;
    color: var(--thewihtecolor);
    height: 30px;
}
.color{
    background-color: var(--thebuttoncolor);
    border: 1px solid var(--theblackcolor);
}
.shafafiyat{
    background-color: var(--theblackcolor);
    color: var(--thewihtecolor);
    border: 1px solid var(--thecolor);
}
/* body */
.body{
    background-color: var(--thecolor);
    height: 400px;
    position: relative;
    top: -16px;
}
h1{
    color: var(--theblackcolor);
    display: flex;
    justify-content: center;
    margin-top: 0;
    position: absolute;
    top: 90px;
    left: 650px;
}
input{
    display: flex;
    margin-left: 600px;
    width: 330px;
    height: 30px;
    border: 1px solid var(--theblackcolor);
    border-radius: 3px;
    box-shadow: var(--theblackcolor) 0px 5px 10px -10px;
    position: absolute;
    top: 150px;
}
.flash{
    color: var(--theblackcolor);
    border: none;
    background-color: var(--thewihtecolor);
    position: absolute;
    left: 900px;
    padding: 0;
    height: 0px;
    top: 160px;
}
/* body2 */
.body2{
    background-color:var(--thewihtecolor);
    display: flex;
    align-items: baseline;
    gap: 350px;
    justify-content: center;
    height: 1500px;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}